html {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-family: 'Raleway', sans-serif;
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}


header {
	display: flex;
	width: 100%;
	max-width: 1510px;
	height: 75px;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: #000;
	align-items: center;
	box-sizing: border-box;


}

.wrap-logo {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;

	align-items: center;

}

.nav-link {
	font-family: 'Open Sans';
	color: #fff;
	padding: 12px;
	font-size: 14px;
	font-weight: 600;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: center;

}

.ax {

	height: 30.6900577545166px;
	width: 51.81303787231445px;
	border-radius: 0px;

}

.it {
	height: 30.6900577545166px;
	width: 32.17488479614258px;
	border-radius: 0px;

}

.header .btn {
	width: 50px;
	height: 50px;
	background-color: #333;
	border: none;
	border-radius: 10px;

}

.btn-bar {
	display: none;
	position: relative;

}

.btn-bar:before,
.btn-bar:after,
.btn-bar .btn-bar-item {
	content: "";
	position: absolute;
	display: block;
	height: 2px;
	width: 30px;
	background-color: #fff;
	left: 50%;
	transform: translateX(-50%);
}

.btn-bar:before {
	top: calc(100% / 3);
}

.btn-bar:after {
	bottom: calc(100% / 3);

}

.btn-bar .btn-bar-item {
	top: 50%;
	transform: translate(-50%, -50%);

}

@media (max-width: 768px) {
	.btn-bar display: flex;
}

.nav-bar {
	display: none;
}

.nav-bar {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: center;

}

/*1 блок*/


.contener_1 {
	display: flex;

	justify-content: center;
	margin: 0;
	background-repeat: no-repeat;
	position: relative;
	padding: 170px;
}

.bg {
	background-image: url('../img/image.png');
	background-size: cover;
}

.bg:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba (0, 0, 0, .5);
}

.dark-bg {
	backdrop-filter: contrast(0.4);
}

/*
.contener_1:before {
	content: "";
	width: 170px;
	height: 0px;
	left: 50%;
	transform: translateX(-50%);
	position: relative;

	bottom: 0;
	background-color: #fff;
	border: 1px solid #0000;
}
*/
.contener_logo {
	display: flex;
	margin: 0;
	width: 270px;
	height: 100px;
}

.clax {
	width: 102px;
	height: 55px;
}

.clit {
	width: 63px;
	height: 55px;
}

.col-5 {
	flex: 1 0 55%;
	max-width: 100%;
	box-sizing: border-box;
}

.contener_title {
	font-family: Raleway;
	font-size: 48px;
	font-weight: 500;
	line-height: 56px;
	letter-spacing: 0em;
	text-align: left;
	padding-bottom: 55px;
	color: rgba(255, 255, 255, 1);

}

.line_top {
	color: #fff;
	background-color: #fff;
	height: 1px;

	margin-bottom: 42px;
	width: 170px;
}

.contener_descrition {
	font-family: Raleway;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: left;
	color: rgba(255, 255, 255, 1);
	height: 42px;

	width: 270px;
	left: 170px;

}

.bg_bt {

	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;

	box-sizing: border-box;
	height: 58px;
	width: 270px;

	background: rgba(0, 0, 0, 0.5);
	color: #FFFFFF;
	border-radius: 0px;
	margin-top: 42px;
	position: relative;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;

	text-align: center;
	border: 2px solid #FFFFFF;
}

.col-6 {
	flex: 1 0 45%;
}

.rectangle {
	width: 470px;
	height: 450px;
	border-radius: 10px;
	background-color: #FFFFFF;

}

p {
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	text-align: center;
	padding-top: 30px;
}

span {
	color: #EC7979;
}

input {
	border: none;
	font-size: 14px;
	color: #BDBDBD;
	margin-top: 50px;
	margin-left: 50px;
	outline: none;
}

.line {
	height: 1px;
	background-color: #BDBDBD;
	margin-top: 20px;
	width: 280px;
	margin-left: 50px;
}

.button-sumbit {
	background-color: #EC7979;
	height: 60px;
	border-radius: 0px 0px 10px 10px;
	margin-top: 50px;
	display: flex;
	text-align: center;
}

.col-6 a {
	text-decoration: none;
	color: white;
	font-weight: 600;
	font-size: 15px;
	margin-top: 20px;
	margin-left: 150px;
}

.contener_2 {
	display: flex;
	height: 140px;
	flex-direction: row;
	flex-wrap: nowrap;
	background: rgba(248, 239, 239, 1);
	margin: 0;
	align-items: center;
	box-sizing: border-box;
	justify-content: center;
}

.dh4060 {
	display: flex;
}

.col-7 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: nowrap;
}

.name_2_title {
	height: 60px;
	width: 470px;
	font-family: Open Sans;
	font-size: 24px;
	font-weight: 700;
	line-height: 33px;
	letter-spacing: 0em;
	text-align: left;

}

.descrition_2 {
	height: 42px;
	width: 470px;
	left: 170px;
	font-family: Raleway;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: left;

}

.col-8 {

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
}

.icon {

	flex-direction: row;
	align-items: center;
	box-sizing: border-box;
	align-content: center;
	justify-content: center;
	color: #86878B;
	height: 52.5px;
	width: 52.5px;
}

.contener_3 {
	display: flex;
	justify-content: center;

	margin-top: 138px;


	height: 500px;
	max-width: 1170px;
	align-items: center;
	padding-left: 100px;

	border: 1px solid rgba(198, 203, 205, 1)
}

.row3 {
	display: flex;
}

.col-9 {
	display: flex;
	flex-direction: column;

	flex: 1 0 60%;
}

.name_3_title {
	display: flex;
	margin-bottom: 30px;

	font-family: Open Sans;
	font-size: 30px;
	font-weight: 700;
	line-height: 41px;
	letter-spacing: 0em;
	text-align: left;

}

.descrition_3 {
	height: 210px;
	width: 570px;
}

.descrition_3 p {
	font-family: Raleway;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;

}

.r_4 {
	display: flex;
	flex: 1 0 40%;
}

.img_99 {
	margin: 0;
	height: 500px;
	width: 470px;
}

.button_3 {
	height: 58px;
	width: 270px;
	background: rgba(236, 121, 121, 1);

	font-family: Open Sans;
	font-size: 18px;
	font-weight: 600;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: center;
	border: 0;
	color: #FFFFFF;

}

.contener_4 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.name_4_title {
	display: flex;
	height: 150px;

	margin-top: 50px;
	position: relative;
	font-family: Raleway;
	font-size: 36px;
	font-weight: 400;
	line-height: 42px;
	letter-spacing: 0em;
	text-align: center;
	justify-content: center;
	align-content: center;
	flex-direction: row;
	flex-wrap: wrap;

	font-family: Raleway;
	font-size: 36px;
	font-weight: 400;
	line-height: 42px;
	letter-spacing: 0em;
	text-align: center;

}

.descrition_4 {
	margin-top: 40px;
	font-family: Raleway;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: center;
	color: #86878B
}

.line_4 {
	display: flex;
	height: 0px;
	width: 170.00000000000065px;
	background: rgba(236, 121, 121, 1);
	border: 1px solid #EC7979;

}

.groups_4 {
	display: flex;
	flex: 1 0 calc(100% / 3);
	width: 100%;
	margin-top: 110px;
}


.groups_4 .icon {
	height: 150px;
	width: 150px;

}

.group-1 {
	display: flex;
	flex: 1 0 20%;
	max-width: 20%;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
	position: relative;
	flex-grow: 1;
}

.group_title {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
	height: 100px;
	width: 369px;
	font-family: Open Sans;
	font-size: 24px;
	font-weight: 700;
	line-height: 33px;
	letter-spacing: 0em;

}

.group_description {
	display: flex;

	font-family: Raleway;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: center;

}

.contener_5 {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;

}

.bg-img {
	background-image: url('../img/bg.png');
	width: 100%;
	height: 100%;
	margin-top: 58px;

}

.line_5 {
	display: flex;
	height: 0px;
	width: 170.00000000000065px;
	background: rgba(236, 121, 121, 1);
	border: 1px solid #EC7979;

	margin-left: 668px;

}

.grups_5 {
	display: flex;
	flex: 1 0 calc(100% / 3);
	width: 100%;
	justify-content: center;
	text-align: center;
	margin-top: 80px;
}

.form-price {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	justify-content: space-evenly;
	flex-direction: row;
}

.form-block {
	display: flex;
	flex-direction: column;

}

.name-form {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;

	height: 60px;
	width: 370px;

	background: #333333;
	border: 2px solid #F5F5F5;

	font-family: Open Sans;
	font-size: 24px;
	font-weight: 700;
	line-height: 33px;
	letter-spacing: 0em;
	text-align: center;
	color: #FFFFFF;

}

.price-form {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;

	height: 100px;
	width: 370px;

	background: #333333;
	border: 2px solid #F5F5F5;

	font-family: Raleway;
	font-size: 36px;
	font-weight: 700;
	line-height: 42px;
	letter-spacing: 0em;
	text-align: center;
	color: #FFFFFF;

}

.plan-price {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;

	height: 50px;
	width: 370px;

	background: #333333;
	border: 2px solid #F5F5F5;

	font-family: Raleway;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: center;
	color: #fff;
}

.plan-features {
	display: flex;
	flex-direction: column;
}

.plan-features li {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;

	height: 50px;
	width: 370px;
	background: #FFFFFF;
	border: 2px solid #F5F5F5;

	font-family: Raleway;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: center;
	color: rgba(134, 135, 139, 1);

}

.line_6 {
	display: flex;
	height: 0px;
	width: 170.00000000000065px;
	background: rgba(236, 121, 121, 1);
	border: 1px solid #EC7979;


}

.groups_5 {
	display: flex;
	flex: 1 0 calc(100% / 3);
	width: 100%;
	margin-top: 83px;
	flex-direction: row;
	justify-content: center;
	box-sizing: border-box;
	padding: 10px;
}

.group-2 {
	display: flex;

	height: 180px;
	width: 370px;

	background: #E2E2E2;
	border-radius: 10px;
}

.comens {
	display: flex;

}

.coment-text {
	display: flex;
	align-content: center;
	flex-wrap: wrap;

	font-family: Raleway;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

.polygon-1 {
	display: flex;
	border-radius: 10px;
	position: relative;
	color: #E2E2E2;
	background: #E2E2E2;
	transform: rotate(-1deg);
}

.polygon-1:before {
	content: '';
	position: absolute;
	left: -280px;
	bottom: -34px;
	border: 20px solid transparent;
	border-top: 30px solid #E2E2E2;
}

.groups-6 {
	display: flex;
	flex: 1 0 calc(100% / 3);
	width: 100%;
	margin-top: 46px;
	flex-direction: row;
	justify-content: center;
	box-sizing: border-box;

}

.group-mang {
	display: flex;
	height: 105px;
	width: 370px;
	flex-direction: row;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;

}

.name-mang {
	display: flex;
	flex: 75%;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 15px;
	flex-wrap: wrap;

}

.name-foto {
	display: flex;
	height: 100%;
	width: 100%;

	font-family: Open Sans;
	font-size: 24px;
	font-weight: 700;
	line-height: 33px;
	letter-spacing: 0em;
	text-align: left;
}

.pr-mang {
	display: flex;
	margin: 10px;
	text-align: left;
}

.bg-img1 {
	background-image: url('../img/image-1.png');
	background-size: cover;
	height: 100%;
	width: 100%;
	margin-top: 64px;
}

.col-11 {
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
}

.name_7_title {
	display: flex;
	height: 150px;
	margin-top: 50px;
	font-family: Raleway;
	font-size: 36px;
	font-weight: 400;
	line-height: 42px;
	letter-spacing: 0em;
	text-align: center;
	color: #FFFFFF;

}

.line_7 {
	display: flex;
	height: 1px;
	width: 170.00000000000065px;
	color: #FFFFFF;
}

.descrition_7 {
	display: flex;
	margin-top: 40px;
	font-family: Raleway;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: center;
	color: #fff;
}

.bg_bt-1 {
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	box-sizing: border-box;
	height: 58px;
	width: 370px;
	background: rgba(0, 0, 0, 0.5);
	color: #FFFFFF;
	border-radius: 0px;
	margin-top: 42px;
	margin-bottom: 50px;
	position: relative;
	text-align: center;
	border: 2px solid #FFFFFF;
	font-family: Open Sans;
	font-size: 18px;
	font-weight: 600;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: center;
	color: #fff;
}

.contener_7 {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
}

.contact-form {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	padding: 15px;
}

.form-first {
	display: flex;
	flex: 50%;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: center;

	font-family: Open Sans;
	font-size: 14px;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;

	color: #BDBDBD;

}

.form-second {
	flex: 50%;
}